@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

    body{
        font-family:Roboto, sans-serif; ;
}

*{
    background-color:  #eec18a; 
}
    img{
        
    border: 1px solid black;
    height: 300px;
    width: 500%;
    font-size: 300%;
    background-color: #d1897b;
    border-radius: 10px;
    
}

    
    


    
.menu{
    display: flex;
    padding: 0;
    background-color: ;
    justify-content: center;
}
.menu li{
    list-style-type: none;
    display:flex;
    justify-content: space-between;
}
.menu a{
    display:block;
    min-width: 120px;
}

