
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

    body{
        font-family:Roboto, sans-serif; 
        background-color:  #eec18a;         
}

*{
    margin: 0;
    padding: 0;
} 
main {
    width: 1000px;
    margin: auto;
}
.menu{
    display: flex;
    padding: 0;
    justify-content: center;
}
.menu li{
    list-style-type: none;
    display:flex;
    justify-content: space-between;
}
.menu a{
    display:block;
    min-width: 120px;
}

/*JADLA****************** grid pour la partie landscape*********************/
.LS{
  text-align: center;
  margin: 20px 0px;
  font-size: 2.5em;
}
.Landscape{
  display: grid;
  grid-template-areas: 
  "img1 img1 img1 img6 img6 img9 img9 img9"
  "img8 img8 img8 img6 img6 img9 img9 img9"
  "img8 img8 img8 img6 img6 img5 img5 img5"
  "img8 img8 img8 img2 img2 img5 img5 img5"
  "img8 img8 img8 img2 img2 img5 img5 img5"
  "img3 img3 img3 img3 img4 img4 img4 img4"
  "img3 img3 img3 img3 img4  img4 img4 img4"
  "img7 img7 img7 img7 img7  img7 img7 img7"
  "img7 img7 img7 img7 img7  img7 img7 img7";

  width: 900px;
  height: 1000px;
  border: 1px solid blue;
  margin: auto;
}
.img1{
  grid-area: img1;
}
.petit{
  width: 300px; 
  height: 140px ;
  transition: transform .2s;
}
.petit:hover{
  transform: scale(1.5);
}
.img2{
  grid-area: img2;
}

.img3{
  grid-area: img3;
}
.moyen{
  width: 450px;
  height: 200px;
  transition: transform .2s;
}
.moyen:hover{
  transform: scale(1.5);
}
.img4{
  grid-area: img4;
}
.img5{
  grid-area: img5;
}
.grand{
  width: 300px;
  height: 290px;
}
.Ggrand{
  width:300px ;
  height: 300px ;
}
.img6{
  grid-area: img6;
}
.xgrand{
  width:300px;
  height:450px;

}
.img7{
  grid-area: img7;
}
.xxgrand{
  width: 900px;
  height: 200px;
}
.img8{
  grid-area: img8;
}
.img9{
  grid-area: img9;
}
/* mosaique portraits*/
.conteneur-grid-portraits{
    border: 2px solid black;
    display: grid;
    margin: auto;
    width: 900px;
    grid-template-areas: 
    "img1p img1p img1p"
    "img7p img4p img4p"
    "img3p img4p img4p"
    "img5p img2p img8p"
    "img5p img6p img8p"
    "img5p img9p img8p"
}
.img1p {
    grid-area:img1p;
}
.p1 {
    width: 900px;
}
.img2p {
    grid-area:img2p;
}
.p2 {
    width: 300px;
    height: 150px;
}
.img3p {
    grid-area:img3p;
}
.p3 {
    width: 300px;
}
.img4p {
    grid-area:img4p;
}
.p4 {
    width: 600px;
}
.img5p {
    grid-area:img5p;
}
.p5 {
    width: 300px;
}
.img6p {
    grid-area:img6p;
}
.p6 {
    width: 300px;
    height: 150px;
}
.img7p {
    grid-area:img7p;
}
.p7 {
    width: 300px;
}
.img8p {
    grid-area:img8p;
}
.p8{
    width: 300px;
}
.img9p {
    grid-area:img9p;
}
.p9 {
    width: 300px;
    height: 150px;
}
